{% extends "LaitGoodbase.html" %}

{% block title %}日果LaitGood 線上購物{% endblock %}

{% block link %}
{% endblock %}

{% block main %}

<!-- 線上購物頁 -->
<section>     
    <br>
    <h1 class="subtitle">線上購物</h1>
    <br>
    <br>
    <hr class="hrline">

    <!-- Flash訊息區 -->
    <div class="login_user">
      {% with messages = get_flashed_messages() %} 
      {% if messages %}  
          {% for message in messages %}  
              <span class="flashstyle">{{ message }}</span>
          {% endfor %}  
      {% endif %}  
      {% endwith %} 
    </div>
    
    <div class="shop_productlist">
      <!-- 使用分頁功能要記得把其改成回傳物件items -->
      {% for Shop in Shopping.items %}
      <div class="content">
          <div class="storypic">
            <a href="{{ url_for('cart.LaitGood_Shoppingproduct', product_id=Shop.product_id) }}"><img src="{{ Shop.product_image }}", height="150" alt="日果產品"></a>
          </div>
          <div class="storypic">
              <h3><a href="{{ url_for('cart.LaitGood_Shoppingproduct', product_id=Shop.product_id) }}"> {{ Shop.product_name }} </a></h3>
              <p >{{ Shop.product_package }} </p>
              <!-- 沒有售價就秀定價 -->
              {% if Shop.product_sellprice == None %}
                <br>
                <p>$ {{ Shop.product_price }} </p>
              {% else %}
                <p><del>$ {{ Shop.product_price }}</del></p>
                <p>$ {{ Shop.product_sellprice }} </p>
              {% endif %}
              
          </div>

          <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div>
              <input hidden name="product_id" value="{{ Shop.product_id }}">
              <p class="amount_label"> {{ form.product_amount.label }} </p> 
              <p class="amount_input"> {{ form.product_amount }} </p>
            </div>
            <div class='product_submit'>
              {{ form.submit }}
            </div>
          </form>
      </div>

      <hr class="hrline">
      {% endfor %}
    </div>
    <br>
    <br>

        <!---  分頁功能  --->
    <div class="content">
        {% for page in Shopping.iter_pages() %}
        {% if page %}
          {% if page != Shopping.page %}
            <a href="{{ url_for('cart.LaitGood_Shoppinglist', page=page) }}">{{ page }}</a>
          {% else %}
            <strong>{{ page }}</strong>
          {% endif %}
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {% endfor %}
    </div>
</section>  


{% endblock %}

{% block script %}
{% if current_user.is_authenticated %}
  <script> //加入購物車按鈕
    $(function(){
        $(".btn_login").click(function(){ 
                alert('成功加入購物車！');
            }
        )
    })
  </script>
{% endif %} 
{% endblock %}