<!-- 首頁 -->

<!DOCTYPE html>
<html>
    <head>
        <!-- 頁籤標題區 -->
        <title>日果乳坊LaitGood 首頁</title> 

        <!-- 基本配備區 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--避免隨便縮放-->
        <meta charset="utf-8"> <!--辨識字符-->
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='CSS/CSSstyle.css') }}"> <!--CSS樣式檔案-->
        <link rel="icon" href="{{ url_for('static', filename='img/ICON/LaitGoodLOGOicon.ico') }}"> <!--透過flask更改頁籤上的ICON，必須要是ICON檔-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!--JQoery功能-->

        <!-- JS 程式碼區 -->

        <script> // 抄作業，TOP回頁面最上層的按扭功能
            $(function(){
                $('#BackTop').click(function(){ 
                    $('html,body').animate({scrollTop:0}, 333);
                });
                $(window).scroll(function() {
                    if ( $(this).scrollTop() > 300 ){
                        $('#BackTop').fadeIn(222);
                    } else {
                        $('#BackTop').stop().fadeOut(222);
                    }
                }).scroll();
            });
        </script>
          
        <script> // 抄作業，做出產品圖左右摺頁輪轉的效果，也可以自己選左右，之後要再整理            
            var gArr = ["#g0","#g1","#g2","#g3","#g4","#g5"];
			var bArr = ["#b0","#b1","#b2","#b3","#b4","#b5"];
			var index = 0;
			
			$(function(){
				change(index);
			});
			
			/*點選按鈕*/
			$(".little").click(function(){
				index = $(this).index();
				change(index);
			});
			
			/*業務執行*/
			function change(val){
				if(val == 6){
					index = 0;
				}else if(val == -1) {
					index = 5;
				}
				changeButton(index);
				changeImg(index);
			}
			
			/*向右切換*/
			function changeRight(){
				index ++;
				change(index);
			};
			
			/*向左切換*/
			function changeLeft(){
				index --;
				change(index);
			};
			
			/*切換按鈕*/
			function changeButton(val){
				$(".little").removeClass("changecolor");
				var bStyle = bArr[val];
				$(bStyle).addClass("changecolor");
			}
			
			/*切換圖片*/
			function changeImg(val){
				$("li").removeClass().addClass("hidden");
				var center = gArr[0];
				var left = gArr[5];
				var right = gArr[1];
				if(val == 0){
					center = gArr[0];
					left = gArr[5];
					right = gArr[1];
				}else if(val == 5){
					center = gArr[5];
					left = gArr[4];
					right = gArr[0];
				}else{
					center = gArr[val];
					left = gArr[val-1];
					right = gArr[val+1];
				}
				$(center).removeClass().addClass("center");
				$(left).removeClass().addClass("left");
				$(right).removeClass().addClass("right");
			};
			
			/*設定定時切換*/
			timer = setInterval(function(){ 
				changeRight();
			}, 3000);
        </script>
    </head>

    <body id="homepagestyle">
        
        <!--頁首區-->
        <header id="pageheader">
            <div class="LOGO">
                <a herf="{{(url_for('LaitGoodHomepage'))}}"><img src="/static/img/LaitGoodLOGO_wobackground.png", width="150" alt="日果LaitGood"></a> <!--重新跳轉到首頁-->
            </div>
            <div id="row_header">
                <div id="headline">
                    <div id="searchbar">
                        <div><input class="searchtext" type="text" placeholder="搜尋產品關鍵字"></div>
                        <div><button class="searchbtn">搜尋</button></div>
                    </div>
                    <div id="usersection">
                        <div class="usericon"><img src="/static/img/ICON/user.png", onmouseover="this.src='/static/img/ICON/user_color.png'", onmouseout="this.src='/static/img/ICON/user.png'", width="30" alt="會員中心"></div> <!--註冊/登入->跳轉會員中心頁面-->
                        <div class="usericon"><img src="/static/img/ICON/shopping-cart.png", onmouseover="this.src='/static/img/ICON/shopping-cart_color.png'", onmouseout="this.src='/static/img/ICON/shopping-cart.png'", width="30" alt="購物車"></div> <!--跳轉購物車頁面-->
                    </div>
                    <div id="lang_change">
                        <div class="langicon"><img src="./static/img/ICON/globe.png", width="20" alt="語言"></div> <!--跳出下拉式選單改語言-->
                        <div class="langicon">
                            <button class="langbtn"> 繁體中文 </button>
                            <div class="langicon-content">
                            <a href="#">英文</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--導覽列區-->
                <nav id="topic_option">
                    <div class="dropdown">
                        <button class="dropbtn"> 關於我們 </button>
                        <div class="dropdown-content">
                        <a href="#">品牌故事</a>
                        <a href="#">好評推薦</a>
                        <a href="#">品質保證</a>
                        </div>
                    </div>
                    <div class="dropdown"><button class="dropbtn">最新消息</button></div> <!--跳轉最新消息頁面-->
                    <div class="dropdown"><button class="dropbtn">產品介紹</button></div> <!--跳轉產品介紹頁面-->
                    <div class="dropdown"><button class="dropbtn">線上購物</button></div> <!--跳轉線上購物頁面-->
                    <div class="dropdown"><button class="dropbtn">聯絡我們</button></div> <!--跳轉聯絡我們頁面-->
                </nav>                       
            </div>            
        </header>
        <hr class="hrline"> 
        
        <!--首圖自動定時輪轉區-->
        <section id="hompage_pic">
            <div id="cover" class="coverflow">  
                <a href='#'><img src="/static/img/teammember.jpg", height="400" alt="首圖一"></a>>
                <a href='#'><img src="/static/img/teammember2.jpg", height="400" alt="首圖二"></a>>
                <a href='#'><img src="/static/img/LaitGoodLOGO_color.png", height="400" alt="首圖三"></a>>
            </div>
            <div class="slogan">
                <p>太陽的果實 日日耕耘的成果 大家心血的結晶&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br><br>
                — 日果乳坊 LaitGood</p>
            </div>
        </section>
        
        <!--團隊故事區-->
        <section id="storyintro">     
            <div class="emphasize">
                <p><span class="larger">&nbsp&nbsp日果乳坊</span>的概念源自於一群在中興大學動物科學系的師生，由陳彥伯老師帶領的乳品加工與微生物實驗室擁有人人稱羨的研究環境，也是在這樣活絡快樂的氛圍下，博士研究生陳佑易先生對創業產生了興趣而日果乳坊的雛型也誕生了...</p>
                <span class="more"><p><br>...更多故事</p></span> <!--跳轉到品牌故事頁面-->
            </div>
            <div class="CEOpic"><img src="/static/img/teamCEO.jpg", height="400" alt="創辦人"></div>
        </section>        
        
        <!--產品圖手動/自動定時左右輪轉區-->
        <section> 
            <div class="subtitle"><h3>產品資訊</h3></div>
            <div class="box">
                <div class="list">
                    <ul>
                        <li id="g0" class="center" ><img src="/static/img/product1.jpg" class="productimg" alt="產品一"></li>
                        <li id="g1" class="right"><img src="/static/img/product1.jpg" class="productimg"  alt="產品二"></li>
                        <li id="g2" class="hidden"><img src="/static/img/product1.jpg" class="productimg" alt="產品三"></li>
                        <li id="g3" class="hidden"><img src="/static/img/product1.jpg" class="productimg" alt="產品四"></li>
                        <li id="g4" class="hidden"><img src="/static/img/product1.jpg" class="productimg" alt="產品五"></li>
                        <li id="g5" class="left"><img src="./static/img/product1.jpg" class="productimg" alt="產品六"></li>
                    </ul>
                </div>               
                <div class="leftButton" onclick="changeLeft()">
                    <img  src="./static/img/ICON/left-arrow.png" class="leftButton" alt="左鍵">
                </div>
                <div class="rightButton" onclick="changeRight()">
                    <img  src="/static/img/ICON/right-arrow.png" class="rightButton" alt="右鍵">
                </div>                
                <div class="buttons" display: flex; justify-content: center>
                    <div id="b0" class="little"></div>
                    <div id="b1" class="little"></div>
                    <div id="b2" class="little"></div>
                    <div id="b3" class="little"></div>
                    <div id="b4" class="little"></div>
                    <div id="b5" class="little"></div>
                </div>
            </div>
        </section>
        
        <!--頁尾區-->
        <hr class="hrline">
        <footer id="comp_footer">
            <div id="comp_logo">  <!--重新跳轉到首頁-->
                <a herf="{{(url_for('LaitGoodHomepage'))}}"><img src="/static/img/LaitGoodLOGO_wobackground.png", width="200" alt="日果LaitGood"></a>
            </div>
            <div id="comp_inf">
                <p class="comp_infs">公司名稱： 日果乳坊有限公司</p>
                <p class="comp_infs">公司地址： 402 台中市南區興大路145號 (國立中興大學)</p>
                <p class="comp_infs">公司電話： 04-XXXX-XXXX</p>
                <p class="comp_infs">客服時間：週一至週五 9:00~12:00 | 13:00~18:00</p>
                <p class="comp_infs">登記字號： X-XXXXXXXXX-XXXXX-X</p>
            </div>
            <div id="socialmedia">
                <div class="socialmediaicon"><a href="https://www.facebook.com/" target="_blank"><img src="/static/img/ICON/facebook.png", onmouseover="this.src='/static/img/ICON/facebook_color.png'", onmouseout="this.src='/static/img/ICON/facebook.png'", height="30" alt="FB"></a></div> <!--跳轉到FB粉專-->
                <div class="socialmediaicon"><a href="https://www.instagram.com/" target="_blank"><img src="/static/img/ICON/instagram.png", onmouseover="this.src='/static/img/ICON/instagram_color.png'", onmouseout="this.src='/static/img/ICON/instagram.png'", height="30" alt="IG"></a></div> <!--跳轉到IG粉專-->
                <div class="socialmediaicon"><a href="https://twitter.com/" target="_blank"><img src="/static/img/ICON/twitter.png", onmouseover="this.src='/static/img/ICON/twitter_color.png'", onmouseout="this.src='/static/img/ICON/twitter.png'", height="30" alt="IG"></a></div> <!--跳轉到twitter官方帳號-->
                <div class="socialmediaicon"><a href="https://line.me/" target="_blank"><img src="/static/img/ICON/line.png", onmouseover="this.src='./static/img/ICON/line_color.png'", onmouseout="this.src='/static/img/ICON/line.png'", height="30" alt="LINE"></a></div> <!--跳轉到LINE加好友QRCODE-->
                <div class="socialmediaicon"><a href="mailto:nm9140322@gmail.com"><img src="/static/img/ICON/email.png", onmouseover="this.src='/static/img/ICON/email_color.png'", onmouseout="this.src='/static/img/ICON/email.png'", height="30" alt="MAIL"></a></div> <!--跳轉到寄MAIL-->
            </div>
        </footer>
        
        <!--側邊TOP按扭區-->
        <aside> 
            <button type="button" id="BackTop" class="toTop-arrow"></button> 
        </aside>
    
    </body>
</html>

