<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--避免隨便縮放-->
        <meta charset="utf-8"> <!--辨識字符-->
        <link rel='stylesheet' type='text/css' href='./CSSstyle.css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!--JQoery功能-->
        <script>
            //抄別人的CODE，做出產品圖左右輪轉的效果，也可以自己選左右，之後要再整理
            var cot=0; //設置一個計數器，初始值為0；作用是用來監聽點擊切換的時候哪一個圖片應該隱藏或者顯示
            function nex(){
                if(cot<=2){
                $('.imgs img').eq(cot).animate({'margin-left':'-305px'},500);
                cot++;
                }
            }
            function pre(){
                if(cot>0){
                cot--;
                $('.imgs img').eq(cot).animate({'margin-left':'0'},500);
                }
            }
        </script>
        <title>日果乳坊LaitGood 首頁</title> <!--頁籤-->
    </head>
    <body>
        <img src="./picturepack/LaitGoodLOGO_wobackground.png", width="150" alt="日果LaitGood"> <!--重新跳轉到首頁-->
        <div>
            <input type="text" value="搜尋產品關鍵字">
            <input type="submit" value="搜尋">
        </div>
        <div>
            <img src="./picturepack/ICON/user.png", width="30" alt="會員中心"> <!--註冊/登入->跳轉會員中心頁面-->
            <img src="./picturepack/ICON/shopping-cart.png", width="30" alt="購物車"> <!--跳轉購物車頁面-->
        </div>
        <div>
            <img src="./picturepack/ICON/globe.png", width="30" alt="語言"> <!--跳出下拉式選單改語言-->
            <select name="language">
                <option value="Chinese(TW)">繁體中文</option> <!--預設-->
                <option value="English">英文</option> <!--轉成英文頁面-->
            </select>
        </div>
        <hr>
        <div>
            <h4>關於我們 <!--游標上去會顯示以下清單，點進去會介紹公司資訊-->
                <select name="aboutus"> <!--很有可能不是這樣寫，待改-->
                    <option value="brandstory">品牌故事</option> <!--跳轉品牌介紹頁面-->
                    <option value="recommend">好評推薦</option> <!--跳轉好評推薦頁面-->
                    <option value="qualitycontrol">品質管理</option> <!--跳轉品質管理頁面-->
                </select>
            </h4>
            <h4>最新消息</h4> <!--跳轉最新消息頁面-->
            <h4>產品介紹</h4> <!--跳轉產品介紹頁面-->
            <h4>線上購物</h4> <!--跳轉線上購物頁面-->
            <h4>聯絡我們</h4> <!--跳轉聯絡我們頁面-->
        </div>
        <hr>
        <div id="cover" class="coverflow">  <!--首圖會自動定時輪轉-->
            <a href='#'><img src="./picturepack/teammember.jpg", height="200" alt="首圖一"></a>>
            <a href='#'><img src="./picturepack/teammember2.jpg", height="200" alt="首圖二"></a>>
            <a href='#'><img src="./picturepack/LaitGoodLOGO_color.png", height="200" alt="首圖三"></a>>
        </div>
        <p>太陽的果實 日日耕耘的成果 大家心血的結晶<br>
            — 日果乳坊 LaitGood</p>
        <hr>
        <div>
            <img src="./picturepack/teamCEO.jpg", height="200" alt="創辦人">
            <p>日果乳坊的概念源自於一群在中興大學動物科學系的師生，由陳彥伯老師帶領的乳品加工與微生物實驗室擁有人人稱羨的研究環境，也是在這樣活絡快樂的氛圍下，日果乳坊的雛型誕生了...</p>
            <a herf="brandstory">...更多故事</a> <!--跳轉到品牌故事頁面-->
        </div>
        <hr>
        <div> <!--產品圖會自動定時左右輪轉，但也可以手動按左按右，參考別人的CODE-->
            <h3>產品資訊</h3>
            <div style="width:900px;margin:auto;overflow:hidden"> <!-- 寬度為900px，每張圖寬為300px，所以只顯示3張，剩下的隱藏起來，style建議統一整理到上方或CSS檔案中 -->
                <div class="imgs" style="width:50000px;"> <!--讓所有的圖片都排在同一水平上，，style建議統一整理到上方或CSS檔案中-->
                    <img src="./picturepack/product1.jpg", width="300" alt="產品一" /> <!--跳轉到該產品資訊分頁-->
                    <img src="./picturepack/product2.jpg", width="300" alt="產品二" /> <!--跳轉到該產品資訊分頁-->
                    <img src="./picturepack/product3.jpg", width="300" alt="產品三" /> <!--跳轉到該產品資訊分頁--> 
                </div>
                <div>
                    <div onclick="pre()" style="float:left;cursor:pointer">上一頁</div> <!--改成左邊ICON，style建議統一整理到上方或CSS檔案中--> 
                    <div onclick="nex()" style="float:right;cursor:pointer">下一頁</div> <!--改成右邊ICON，style建議統一整理到上方或CSS檔案中--> 
                </div>
            </div>      
        </div>
        <hr>
        <img src="./picturepack/LaitGoodLOGO_wobackground.png", width="200" alt="日果LaitGood"> <!--重新跳轉到首頁-->
        <div>
            <p>公司名稱： 日果乳坊有限公司</p>
            <p>公司地址： 402 台中市南區興大路145號 (國立中興大學)</p>
            <p>公司電話： 04-XXXX-XXXX</p>
            <p>客服時間：週一至週五 9:00~12:00 | 13:00~18:00</p>
            <p>登記字號： X-XXXXXXXXX-XXXXX-X</p>
        </div>
        <div>
            <img src="./picturepack/ICON/facebook.png", height="30" alt="FB"> <!--跳轉到FB粉專-->
            <img src="./picturepack/ICON/instagram.png", height="30" alt="IG"> <!--跳轉到IG粉專-->
            <img src="./picturepack/ICON/twitter.png", height="30" alt="IG"> <!--跳轉到twitter官方帳號-->
            <img src="./picturepack/ICON/line.png", height="30" alt="LINE"> <!--跳轉到LINE加好友QRCODE-->
            <img src="./picturepack/ICON/email.png", height="30" alt="MAIL"> <!--跳轉到寄MAIL-->
        </div>
        <div> <!--TOP回頁面最上層的按扭功能-->
            <button type="button" id="BackTop" class="toTop-arrow"></button> 
            <script> 
            $(function(){
                $('#BackTop').click(function(){ 
                    $('html,body').animate({scrollTop:0}, 333);
                });
                $(window).scroll(function() {
                    if ( $(this).scrollTop() > 300 ){
                        $('#BackTop').fadeIn(222);
                    } else {
                        $('#BackTop').stop().fadeOut(222);
                    }
                }).scroll();
            });
            </script>
        </div>
    </body>
</html>