<!-- 會員登入頁面 -->

<!DOCTYPE html>
<html>
    <head>
        <!--頁籤標題區-->
        <title>日果LaitGood 會員登入</title> 

        <!-- 基本配備區 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--避免隨便縮放-->
        <meta charset="UTF-8">
        <link rel="icon" href="{{ url_for('static', filename='img/ICON/LaitGoodLOGOicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="C:/Users/USER/Desktop/自學程式/Web_HTML/static/CSS/login.css"/>
        <link rel='stylesheet' type='text/css' href="C:/Users/USER/Desktop/自學程式/Web_HTML/static/CSS/CSSstyle.css"> 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!--JQoery功能-->
        
        <!-- JS 程式碼區 -->
        <script>  // TOP回頁面最上層的按扭功能        
            $(function(){
                $('#BackTop').click(function(){ 
                    $('html,body').animate({scrollTop:0}, 333);
                });
                $(window).scroll(function() {
                    if ( $(this).scrollTop() > 300 ){
                        $('#BackTop').fadeIn(222);
                    } else {
                        $('#BackTop').stop().fadeOut(222);
                    }
                }).scroll();
            });
        </script>
        <script> //登入及圖形驗證碼功能
            $(function(){
                var show_num = [];
                draw(show_num);
                $("#canvas").on('click',function(){
                    draw(show_num);
                })
                $(".btn_login").on('click',function(){
                    var username = document.getElementById("username");
                    var pass = document.getElementById("password");
                    var val = $("#input-val").val().toLowerCase();
                    var num = show_num.join("");
                    
                    if (username.value == "" || pass.value  == "") {
                        alert("請輸入帳號及密碼");
                    } else if (val=='') {
                        alert("請輸入驗證碼");    
                    } else if(username.value == "admin" && pass.value == "123456" && val != num){
                        alert('驗證碼錯誤！請重新輸入！');
                        $("#input-val").val('');
                    } else if(username.value == "admin" && pass.value == "123456" && val == num){
                        alert('提交成功！');
                        $("#input-val").val('');
                        // window.location.href="welcome.html"; 登入後跳轉前頁功能
                    }else{
                        alert("帳號密碼錯誤！請重新輸入！")
                    }
                })
            })

            //生成並渲染出驗證碼圖形
            function draw(show_num) {
                var canvas_width=$('#canvas').width();
                var canvas_height=$('#canvas').height();
                var canvas = document.getElementById("canvas");//獲取到canvas的對象，演員
                var context = canvas.getContext("2d");//獲取到canvas畫圖的環境，演員表演的舞臺
                canvas.width = canvas_width;
                canvas.height = canvas_height;
                var sCode = "a,b,c,d,e,f,g,h,i,j,k,m,n,p,q,r,s,t,u,v,w,x,y,z,A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";
                var aCode = sCode.split(",");
                var aLength = aCode.length;//獲取到數組的長度
                for (var i = 0; i < 4; i++) { //這裏的for循環可以控制驗證碼位數（如果想顯示6位數，4改成6即可）
                    var j = Math.floor(Math.random() * aLength);//獲取到隨機的索引值
                    // var deg = Math.random() * 30 * Math.PI / 180;//產生0~30之間的隨機弧度
                    var deg = Math.random() - 0.5; //產生一個隨機弧度
                    var txt = aCode[j];//得到隨機的一個內容
                    show_num[i] = txt.toLowerCase();
                    var x = 10 + i * 20;//文字在canvas上的x座標
                    var y = 20 + Math.random() * 8;//文字在canvas上的y座標
                    context.font = "bold 23px 微軟雅黑";
                    context.translate(x, y);
                    context.rotate(deg);
                    context.fillStyle = randomColor();
                    context.fillText(txt, 0, 0);
                    context.rotate(-deg);
                    context.translate(-x, -y);
                }
                for (var i = 0; i <= 5; i++) { //驗證碼上顯示線條
                    context.strokeStyle = randomColor();
                    context.beginPath();
                    context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
                    context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
                    context.stroke();
                }
                for (var i = 0; i <= 30; i++) { //驗證碼上顯示小點
                    context.strokeStyle = randomColor();
                    context.beginPath();
                    var x = Math.random() * canvas_width;
                    var y = Math.random() * canvas_height;
                    context.moveTo(x, y);
                    context.lineTo(x + 1, y + 1);
                    context.stroke();
                }
            }
            
            //得到隨機的顏色值
            function randomColor() {
                var r = Math.floor(Math.random() * 256);
                var g = Math.floor(Math.random() * 256);
                var b = Math.floor(Math.random() * 256);
                return "rgb(" + r + "," + g + "," + b + ")";
            }
        </script>

    </head>

    <body id="homepagestyle">
        
        <!-- 頁首區 -->
        <header id="pageheader">
            <div class="LOGO">
                <a herf="{{(url_for('LaitGoodHomepage'))}}"><img src="/static/img/LaitGoodLOGO_wobackground.png", width="150" alt="日果LaitGood"></a> <!--重新跳轉到首頁-->
            </div>
            <div id="row_header">
                <div id="headline">
                    <div id="searchbar">
                        <div><input class="searchtext" type="text" placeholder="搜尋產品關鍵字"></div>
                        <div><button class="searchbtn">搜尋</button></div>
                    </div>
                    <div id="usersection">
                        <div class="usericon"><img src="/static/img/ICON/user.png", onmouseover="this.src='/static/img/ICON/user_color.png'", onmouseout="this.src='/static/img/ICON/user.png'", width="30" alt="會員中心"></div> <!--註冊/登入->跳轉會員中心頁面-->
                        <div class="usericon"><img src="/static/img/ICON/shopping-cart.png", onmouseover="this.src='/static/img/ICON/shopping-cart_color.png'", onmouseout="this.src='/static/img/ICON/shopping-cart.png'", width="30" alt="購物車"></div> <!--跳轉購物車頁面-->
                    </div>
                    <div id="lang_change">
                        <div class="langicon"><img src="./static/img/ICON/globe.png", width="20" alt="語言"></div> <!--跳出下拉式選單改語言-->
                        <div class="langicon">
                            <button class="langbtn"> 繁體中文 </button>
                            <div class="langicon-content">
                            <a href="#">英文</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--導覽列區-->
                <nav id="topic_option">
                    <div class="dropdown">
                        <button class="dropbtn"> 關於我們 </button>
                        <div class="dropdown-content">
                        <a href="#">品牌故事</a>
                        <a href="#">好評推薦</a>
                        <a href="#">品質保證</a>
                        </div>
                    </div>
                    <div class="dropdown"><button class="dropbtn">最新消息</button></div> <!--跳轉最新消息頁面-->
                    <div class="dropdown"><button class="dropbtn">產品介紹</button></div> <!--跳轉產品介紹頁面-->
                    <div class="dropdown"><button class="dropbtn">線上購物</button></div> <!--跳轉線上購物頁面-->
                    <div class="dropdown"><button class="dropbtn">聯絡我們</button></div> <!--跳轉聯絡我們頁面-->
                </nav>       
            </div>         
        </header>
        <hr class="hrline">


        
        <!-- 帳密登入區 -->
        <section id="login_frame">
            <form method="post">
                <div class="login_user">
                    <label class="label_input">帳&nbsp&nbsp&nbsp&nbsp號</label>
                    <input class="searchtext" id="username" type="text" placeholder="輸入您的E-mail">
                </div>
                <div class="login_user">
                    <label class="label_input">密&nbsp&nbsp&nbsp&nbsp碼</label>
                    <input class="searchtext" id="password" type="password" placeholder="輸入您的密碼" >
                </div>
                <div class="login_user">
                    <label class="label_input">驗證碼</label>
                    <input class="searchtext" id="input-val" type="text" placeholder="點圖可更換驗證碼（大小寫不拘）">
                    <canvas id="canvas" width="100" height="30"></canvas>
                </div>
                <hr class="hrline">
                <div id="login_control">
                    <div class="login_href">
                        <a class="hreftext" href="#">重發驗證信</a> <!-- 重發驗證信的功能 -->
                        <a class="hreftext" href="forget_pwd.html">忘記密碼？</a> <!-- 忘記密碼的功能 -->        
                    </div>
                    <div>
                        <button class="btn_login">登&nbsp&nbsp入</button>
                    </div>                  
                </div>
                
                <div class="login_href">
                    <p ><span class="logintext">還沒有帳號嗎？</span><a class="hreftext" href="register.html">註冊</a></p>
                     <!-- 跳轉到註冊頁面的功能 -->
                </div>
            </form>
        </section>


        <!--頁尾區-->
        <hr class="hrline">
        <footer id="comp_footer">            
            <div id="comp_logo">  <!--重新跳轉到首頁-->
                <a herf="{{(url_for('LaitGoodHomepage'))}}"><img src="/static/img/LaitGoodLOGO_wobackground.png", width="200" alt="日果LaitGood"></a>
            </div>
            <div id="comp_inf">
                <p class="comp_infs">公司名稱： 日果乳坊有限公司</p>
                <p class="comp_infs">公司地址： 402 台中市南區興大路145號 (國立中興大學)</p>
                <p class="comp_infs">公司電話： 04-XXXX-XXXX</p>
                <p class="comp_infs">客服時間：週一至週五 9:00~12:00 | 13:00~18:00</p>
                <p class="comp_infs">登記字號： X-XXXXXXXXX-XXXXX-X</p>
            </div>
            <div id="socialmedia">
                <div class="socialmediaicon"><a href="https://www.facebook.com/" target="_blank"><img src="/static/img/ICON/facebook.png", onmouseover="this.src='/static/img/ICON/facebook_color.png'", onmouseout="this.src='/static/img/ICON/facebook.png'", height="30" alt="FB"></a></div> <!--跳轉到FB粉專-->
                <div class="socialmediaicon"><a href="https://www.instagram.com/" target="_blank"><img src="/static/img/ICON/instagram.png", onmouseover="this.src='/static/img/ICON/instagram_color.png'", onmouseout="this.src='/static/img/ICON/instagram.png'", height="30" alt="IG"></a></div> <!--跳轉到IG粉專-->
                <div class="socialmediaicon"><a href="https://twitter.com/" target="_blank"><img src="/static/img/ICON/twitter.png", onmouseover="this.src='/static/img/ICON/twitter_color.png'", onmouseout="this.src='/static/img/ICON/twitter.png'", height="30" alt="IG"></a></div> <!--跳轉到twitter官方帳號-->
                <div class="socialmediaicon"><a href="https://line.me/" target="_blank"><img src="/static/img/ICON/line.png", onmouseover="this.src='./static/img/ICON/line_color.png'", onmouseout="this.src='/static/img/ICON/line.png'", height="30" alt="LINE"></a></div> <!--跳轉到LINE加好友QRCODE-->
                <div class="socialmediaicon"><a href="mailto:nm9140322@gmail.com"><img src="/static/img/ICON/email.png", onmouseover="this.src='/static/img/ICON/email_color.png'", onmouseout="this.src='/static/img/ICON/email.png'", height="30" alt="MAIL"></a></div> <!--跳轉到寄MAIL-->
            </div>
        </footer>

        <!--TOP回頁面最上層的按扭功能-->
        <aside> 
            <button type="button" id="BackTop" class="toTop-arrow"></button> 
        </aside>

    </body>
</html>