

<body style='background-color:rgb(232, 252, 242); font-family: "Noto Sans CJK TC", "Microsoft JhengHei", sans-serif, serif;color: rgb(47, 79, 79);'>
    <div style=" width: 400px;height:fit-content;padding: 13px;position:relative;margin: 5% auto 5% auto;
    background-color: rgba(87, 254, 238, 0.756);border-radius: 10px;text-align: center;">
        <h1>日果LaitGood會員 {{ user.username }} 您好，</h1>
        <br>
        <br>
        <p>請於一小時內點選以下網址以重設密碼：</p>
        <br>
        <a href="{{ url_for('member.reset_password_recive', token=token, _external=True)  }}", style="font-size: 16px;font-weight: bold;width: 120px;height: 30px;text-align: center;color: rgb(226, 253, 238);background-color: #3BD9FF;border-radius: 6px;border: 0;margin: 5px; cursor: pointer;">
            Reset Password
        </a>
        <br>
        <br>
        <p>若您並未要求重設密碼，請忽略此信或可能有他人嘗試透過您的註冊信箱登入日果！</p>
    </div>
</body>
