

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/ICON/LaitGoodLOGOicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='CSS/CSSstyle.css') }}">
    <title>LaitGood_adminlogin</title>
</head>
<body id="homepagestyle">
        <!-- 需要輸入正確的管理者帳號才能進入網站 -->
    {% from "LaitGood_admins/_userform.html" import render_field %}
    <section id="login_frame">
    <!-- Flash訊息區 -->
    <div class="login_user">
        {% with messages = get_flashed_messages() %} 
        {% if messages %}  
            {% for message in messages %}  
                <span class="flashstyle">{{ message }}</span>
            {% endfor %}  
        {% endif %}  
        {% endwith %} 
    </div>

    <form method='POST' action="">
        {{ form.hidden_tag() }} 
        <div class='register_user'>            
            {{ render_field(form.adminlogin) }}
            {{ render_field(form.adminpassword) }}
        </div>
        <div id="login_control">
        {{ form.submit }}
        </div>

    </section>
</body>
</html>