{% extends "LaitGoodbase.html" %}

{% block title %}日果LaitGood 重置密碼{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login.css') }}">
{% endblock %}

{% block main %}

<!-- 變更密碼區 -->
{% from "LaitGood/_userform.html" import render_field %}
<section id="login_frame">
    <!-- 實際利用Macro引入表單的區域 -->
    <form method="POST" action="{{ url_for('change_password') }}" >
        <p>{{ current_user.username }} 您好，</p>
        {{ form.hidden_tag() }}
        <div class='register_user'>            
            {{ render_field(form.password_old) }}
            {{ render_field(form.password_new) }}
            {{ render_field(form.password_new_confirm) }}
        </div>
        <hr class="hrline">
        {{ form.submit }}

    </form>
</section>
{% endblock %}

{% block script %}
{% endblock %}