<!-- 需要輸入正確的管理者帳號才能進入網站 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/ICON/LaitGoodLOGOicon.ico') }}">
    <title>LaitGoodmanergerlogin</title>
</head>
<body>
    <!-- 這區是If帳號輸入錯誤就會閃現出來的訊息 -->
    {% with messages = get_flashed_messages() %} 
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %}  
     
    <form method='post' action="{{ url_for('login') }}">
        <p>
        <input type='text' name='username' placeholder="輸入管理者帳號">
    </p>
        <p>
        <button type='submit'>Submit</button>
    </p>
    </form>
</body>
</html>