{% extends "LaitGoodbase.html" %}

{% block title %}日果LaitGood 關於我們{% endblock %}

{% block link %}
{% endblock %}

{% block main %}

<section>    
    <div class="story">
        <div style="margin-right: 2%;">
            <img src="/static/img/NCHUAS.png" alt="中興動科"> 
            <br>
            <h2 class="comp_infs">團隊起源</h2>
            <br>
            <p class="comp_infs">&nbsp&nbsp&nbsp&nbsp日果乳坊的概念源自於一群在中興大學動物科學系的師生，由陳彥伯老師帶領的乳品加工與微生物實驗室擁有人人稱羨的研究環境，也是在這樣活絡快樂的氛圍下，博士研究生陳佑易先生對創業產生了興趣而日果乳坊的雛型也誕生了！</p>
            <br>
            <p class="comp_infs">&nbsp&nbsp&nbsp&nbsp日果的主體─茶優格，由已經畢業的校友於攻讀碩士期間產生了最初的配方雛型，但當時僅以研究論文為主要目標，故只有綠茶口味且以機能性方面的研究為主，但該產品仍在師生間獲得了不錯的風評。接著，日果的發展，由團隊旗下強大的研發團隊進行各式改良，最終成了如今豐富而健康美味的優格產品。</p>
        </div>
        <div class="storypic">
            <img src="/static/img/teamfromLab2.jpg", height="400" alt="溫馨310">

        </div>
    </div>

    <div class="story">
        <div class="storypic"><img src="/static/img/teamfromLab.jpg", height="400" alt="彥伯老師"></div>
        <div class="emphasize">
            <h2>品牌顧問</h2>
            <br>
            <p>&nbsp&nbsp&nbsp&nbsp國立台灣大學動物科學系畢業的乳品加工及微生物權威─陳彥伯博士，如今在國立中興大學動物科學系擔任教授，優格製作過程的駐要原料正是乳品及微生物，陳博士自然成為了我們品牌不可或缺的強力顧問，這也奠定了旗下產品的研發及控管都是具備專業水準。</p>
        </div>        
    </div>

    <div class="story">
        <div class="emphasize">
            <h2>團隊領導者</h2>
            <br>
            <p>&nbsp&nbsp&nbsp&nbsp陳佑易先生，兼顧著攻讀博士之研究生涯及團隊領導者的雙重身分，藉著優異的能力及手腕，帶領日果逐步邁向創業之路。身兼多職的狀況下，也曾遇過許多困難和阻礙，然而，過往下定的決心燃燒著創業的熱忱，從此奠定了日果的美味及高品質。</p>
        </div>
        <div class="storypic"><img src="/static/img/teamCEO2.jpg", height="400" alt="大學長"></div>
    </div>
</section>  


{% endblock %}

{% block script %}
{% endblock %}