{% extends "LaitGoodbase.html" %}

{% block title %}日果LaitGood 品質保證{% endblock %}

{% block link %}
{% endblock %}

{% block main %}

<section>     
    <div class="story">
        <div class="emphasize">
            <h2>品質保證</h2>
            <br>
            <p>&nbsp&nbsp&nbsp&nbsp日果乳坊源自中興大學動物科學系，品質原料自然都來自師生的努力結晶─中興大學的鮮乳。</p>
            <br>
            <img src="/static/img/QC1.jpg" alt="品質保證">
            <img src="/static/img/QC2.jpg" alt="品質保證">
            <img src="/static/img/QC3.png" alt="品質保證">
        </div>
    </div>

</section>  


{% endblock %}

{% block script %}
{% endblock %}